@using System.Web.Optimization
@using teaCRM.Entity
@model dynamic

@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        @Styles.Render("~/Themes/default/css/cp.globle.min1.css")
        @Scripts.Render("~/Themes/default/js/cp.globle.min1.js")

        <script type="text/javascript">
            $(document).ready(function() {
                $("#ExpName").focus();
                var id = "@ViewBag.Id";
                if (id != "") {
                    //console.log("开始修改");
                    load_form_data(id);
                }
            });
            $(function() {
                validate_form();
            });

            function load_form_data(id) {
//                //alert(id);
//                //提交数据
//                var url = "/api/settings/role/getRole/" + id;
//                $.ajax({
//                    type: "get",
//                    cache: false,
//                    url: url,
//                    data: { id: id },
//                    dataType: "json",
//                    beforeSend: function () {
//                        //showLoading();
//                    },
//                    complete: function () {
//                        //hideLoading();
//                    },
//                    success: function (result) {
//                        console.log(result);
//                        for (var key in result) {
//                            //alert(key + " " + result[key]);
//                            if ($("#" + key) != undefined) {
//                                $("#" + key).val(result[key]);
//                            }
//                        }
//                        console.log("数据加载成功。");
//                    },
//                    error: function () {
//                        console.log("数据加载失败。");
//                        showMsg("服务器异常！");
//                    }
//                });
            }


            //表单验证
            function validate_form() {
                $("#form_field").validate({
                    rules: {
                        RoleName: {
                            rangelength: [2, 30]
                        }
                    },
                    invalidHandler: function(e, validator) {
                        var msg = "有 " + validator.numberOfInvalids() + " 项填写有误，请检查！";
                        $("#msgprint").html(msg).show().focus();
                        setTimeout(function() {
                            $("#msgprint").fadeOut(500);
                            //如果动画结束则删除节点
                            if (!$("#msgprint").is(":animated")) {
                                $("#msgprint").hide();
                            }
                        }, 1000);
                    },
                    focusInvalid: false,
                    errorPlacement: function(error, element) {
                        var errorMsg = error[0].innerHTML;
                        var elementName = element[0].name;
                        $("#" + elementName).formtip(errorMsg);
                        $("#" + elementName).attr("placeholder", errorMsg);
                    },
                    success: function(element) {
                        var elem = $(element)[0].htmlFor;
                        $("#" + elem).poshytip('disable');
                        $("#" + elem).poshytip('destroy');
                        $("#" + elem).removeClass("error").addClass("success");
                    }

                });
            }

            //表单验证方法，供父窗口调用
            function form_valid() {
                return $("#form_field").valid();
            }
        </script>
    </head>
    <body>
        <div class="tab-content">
            <!--表单错误提示区-->
            <div tabindex="-1" id="msgprint" class="warning" style="position: fixed; width: 90%; display: none;">您的表单包含错误，请检查！</div>
            <form id="form_field">
                <input type="hidden" id="Id" name="Id" value="@ViewBag.Id"/>
                <!--当前公司id-->
                <input type="hidden" id="CompNum" name="CompNum" value="@Session[teaCRMKeys.SESSION_USER_COMPANY_INFO_NUM]" />
                <dl>
                    <dt>
                        <em class="imp">*</em>字段名称：
                    </dt>
                    <dd>
                        <input type="text" class="form-control required" id="ExpName" name="ExpName" placeholder="输入字段名称" />
                    </dd>
                    <dt>
                        <em class="imp">*</em>显示标题：
                    </dt>
                    <dd>
                        <input type="text" class="form-control required" id="ExpTitle" name="ExpTitle" />
                    </dd>
                </dl>
           
                <dl>
                 <dt>
                        <em class="imp">*</em>字段类型：
                    </dt>
                    <dd>
                        <input type="text" class="form-control required" id="ExpCtype" name="ExpCtype" />
                    </dd>
                    <dt>
                        <em class="imp">*</em>数据类型：
                    </dt>
                    <dd>
                        <input type="text" class="form-control required" id="ExpDtype" name="ExpDtype" />
                    </dd>
                </dl>
           
             <dl>
                 <dt>
                        <em class="imp">*</em>字段长度：
                    </dt>
                    <dd>
                        <input type="text" class="form-control required" id="ExpLength" name="ExpLength" />
                    </dd>
                    <dt>
                        <em class="imp">*</em>字段精度：
                    </dt>
                    <dd>
                        <input type="text" class="form-control required" id="ExpPlace" name="ExpPlace" />
                    </dd>
                </dl>
           
              <dl>
                 <dt>
                        <em class="imp">*</em>字段选项：
                    </dt>
                    <dd>
                        <input type="text" class="form-control required" id="ExpOption" name="ExpOption" />
                    </dd>
                    <dt>
                      字段默认值：
                    </dt>
                    <dd>
                        <input type="text" class="form-control" id="ExpDefault" name="ExpDefault" />
                    </dd>
                </dl>
           
           
           <dl>
                 <dt>
                     是否显示：
                    </dt>
                    <dd>
                        <input type="checkbox" class="" id="ExpIsShow" name="ExpIsShow" />
                    </dd>
                    <dt>
                      是否为空：
                    </dt>
                    <dd>
                        <input type="checkbox" class="" id="ExpIsNull" name="ExpIsNull" />
                    </dd>
                </dl>
           
           <dl>
                 <dt>
                     是否密码：
                    </dt>
                    <dd>
                        <input type="checkbox" class="" id="ExpIsPw" name="ExpIsPw" />
                    </dd>
                    <dt>
                      是否为html：
                    </dt>
                    <dd>
                        <input type="checkbox" class="" id="ExpIsHtml" name="ExpIsHtml" />
                    </dd>
                </dl>
                
                
                
              <dl>
                 <dt>
                     编辑器类型：
                    </dt>
                    <dd>
                        <input type="text" class="form-control" id="ExpEtype" name="ExpEtype" />
                    </dd>
                    <dt>
                        验证成功提示：
                    </dt>
                    <dd>
                        <input type="text" class="form-control" id="ExpTipmsg" name="ExpTipmsg" />
                    </dd>
                </dl>
           
                  <dl>
                 <dt>
                       验证错误提示：
                    </dt>
                    <dd>
                        <input type="text" class="form-control" id="ExpErrmsg" name="ExpErrmsg" />
                    </dd>
                    <dt>
                      验证正则表达式：
                    </dt>
                    <dd>
                        <input type="text" class="form-control" id="ExpPattern" name="ExpPattern" />
                    </dd>
                </dl>
                
                
                  <dl>
                 <dt>
                       排序字段：
                    </dt>
                    <dd>
                        <input type="text" class="form-control" id="ExpSortid" name="ExpSortid" />
                    </dd>
                    <dt>
                      调用样式：
                    </dt>
                    <dd>
                        <input type="text" class="form-control" id="ExpCss" name="ExpCss" />
                    </dd>
                </dl>
                <dl>
                 <dt>
                       是否内置：
                    </dt>
                    <dd>
                        <input type="checkbox" class="" id="ExpIsSys" name="ExpIsSys" />
         
                </dl>
            </form>
        </div>
    </body>
</html>