@using System.Web.Optimization
@using UCsoft.Web
@{
    //客户扩展字段信息
    var customerFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.CustomerExpandFields;
    //联系人扩展字段信息
    var contactFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.ContactExpandFields;
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>添加客户_C+企业云平台_打造中国办公软件第一品牌</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
   
    @Styles.Render("~/Themes/default/css/cp.globle.min1.css")
@Scripts.Render("~/Themes/default/js/cp.globle.min1.js")

    <!--my97DatePicker-->
     <script src="/Themes/default/lib/my97DatePicker/WdatePicker.js" type="text/javascript"></script>
  <!--省市数据-->
    <script src="/Themes/default/base/js/city.js" type="text/javascript"></script>
 
    
    

    <script src="/Themes/default/crm/js/customer_add.js" type="text/javascript"></script>
</head>
<body>
    <div class="tb-form-1">
        <form id="form_customer" name="form_customer" action="" method="post">
            <!--表单错误提示区-->
            <div tabindex="-1" id="msgprint" class="warning" style="position: fixed; width: 90%; display: none;">您的表单包含错误，请检查！</div>
            <div class="tab-content">
            
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#customer-info" data-toggle="tab">客户信息</a>
                    </li>
                    <li><a href="#contact-info" data-toggle="tab">主联系人信息</a></li>
                </ul>
                <div class="tab-pane active" id="customer-info">
                    <dl>
                        <dt>
                            <em class="imp">*</em>客户名称：
                        </dt>
                        <dd>
                            <input type="text" class="form-control wid260 required" id="cus_name" name="cus_name" placeholder="输入单位名称，如为个人则输入姓名" />
                        </dd>
                        <dt>
                            助记简称：
                        </dt>
                        <dd>
                            <input type="text"class="form-control wid200" id="cus_sname" name="cus_sname" placeholder="客户简称，方便查询" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            省份城市：
                        </dt>
                        <dd>
                            <div class="form-group">
                            <select id="cus_province" name="cus_province" field_required="0"  class="form-control wid120" field_cname="省份">
                                <option value="0" selected="selected">--请选择--</option>
                            </select>

                            <select id="cus_city" name="cus_city" field_required="0" class="form-control wid120" style="margin: -30px 0 0 130px"  field_cname="城市">
                                <option value="0" selected="selected">--请选择--</option>
                            </select>
                            <select id="cus_region" name="cus_region" field_required="0" class="form-control wid120" style="margin: -30px 0 0 260px" field_cname="城市">
                                <option value="0" selected="selected">--请选择--</option>
                            </select>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <em class="imp">*</em>办公电话1：
                        </dt>
                        <dd>
                            <input type="text"class="form-control wid260 required mobileTelephome" name="cus_tel" id="cus_tel" />
                        </dd>
                        <dt>
                            详细地址：
                        </dt>
                        <dd>
                            <input type="text"class="form-control wid200" id="cus_address" name="cus_address" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            备注：
                        </dt>
                        <dd>
                            <textarea class="form-control wid515" id="cus_note" name="cus_note" cols="50" rows="2"></textarea>
                        </dd>
                    </dl>

                    <!--客户扩展字段开始-->
                    @foreach (var field in customerFields)
                    {
                        switch (field.ExpCtype)
                        {
                            case "1": //短文本框
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        <input type="text" name="@field.ExpName" id="@field.ExpName"class="form-control comm-tbox-1 " />
                                    </dd>
                                </dl>
                                break;
                            case "2": //长文本框
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        <textarea class="form-control comm-abox-1 " id="@field.ExpName" name="@field.ExpName" cols="50" rows="5"></textarea>
                                    </dd>
                                </dl>
                                break;
                            case "3": //短文本框(链接)
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        <input type="text" id="@field.ExpName" name="@field.ExpName" class="form-control " />
                                    </dd>
                                </dl>
                                break;
                            case "4": //短文本框(年龄)
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        <input type="text" id="@field.ExpName" class="form-control comm-tbox-1 " name="@field.ExpName" />
                                    </dd>
                                </dl>
                                break;
                            case "5": //下拉框
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        <select id="@field.ExpName" name="@field.ExpName" class="form-control ">
                                            <option selected="selected" value="">--请选择--</option>
                                            @Html.StringToOptions(field.ExpOption)
                                        </select>
                                    </dd>
                                </dl>
                                break;
                            case "6": //复选框
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        @Html.StringToCheckboxList(field.ExpOption, field.ExpName, field.ExpName, field.ExpTitle, field.ExpIsNull)
                                    </dd>
                                </dl>
                                break;
                            case "7": //附件上传
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        <div class="box">
                                            <input type="text" name="copyFile" class="form-control textbox" />
                                            <a href="javascript:void(0);" class="link">浏览</a>
                                            <input type="file" class="form-control uploadFile" name="upload" onChange=" getFile(this, 'copyFile') " />
                                        </div>
                                    </dd>
                                </dl>
                                break;
                            case "8": //时间日期
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        <input type="text" id="@field.ExpName" name="@field.ExpName" class="form-control Wdate " style="width: 90px;" onClick=" WdatePicker({ dateFmt: 'yyyy-MM-dd' }) " />
                                    </dd>
                                </dl>
                                break;
                            case "9": //复选框
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        @Html.StringToCheckboxList(field.ExpOption, field.ExpName, field.ExpName, field.ExpTitle, field.ExpIsNull)
                                    </dd>
                                </dl>
                                break;
                            default:
                                break;
                        }
                    }
                </div>
                <div class="tab-pane" id="contact-info">

                    <dl>
                        <dt>  <em class="imp">*</em>联系人名称：</dt>
                        <dd>
                            <input type="text" name="con_name" id="con_name" class="form-control required" />
                        </dd>
                        <dt>电话/手机：</dt>
                        <dd>
                            <input type="text" name="con_tel" id="con_tel" class="form-control number" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>Q&nbsp;&nbsp;Q：</dt>
                        <dd>
                            <input type="text" name="con_qq" id="con_qq" class="form-control number" />
                        </dd>
                        <dt>邮箱：</dt>
                        <dd>
                            <input type="text" name="con_email" id="con_email" class="form-control email" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>出生年月：</dt>
                        <dd>
                            <input type="text" name="con_bir" id="con_bir" class="form-control Wdate dateISO" onClick=" WdatePicker({ dateFmt: 'yyyy-MM-dd' }) " />
                        </dd>
                    </dl>
                    <dl>
                        <dt>备注：</dt>
                        <dd>
                            <textarea class="form-control comm-abox-1" rows="5" cols="50" name="con_note" id="con_note"></textarea>
                        </dd>
                    </dl>

                    <!--联系人扩展字段开始-->
                    @foreach (var field in contactFields)
                    {
                        switch (field.ExpCtype)
                        {
                            case "2":
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dt>
                                        <textarea class="form-control comm-abox-1 " id="@field.ExpName" name="@field.ExpName" cols="50" rows="5"></textarea>
                                    </dt>
                                </dl>
                                break;
                        }
                    } 
                </div>
            </div>

        </form>
    </div>
</body>