@using UCsoft.Web
@{
    //客户扩展字段信息
    var customerFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.CustomerExpandFields;
    //联系人扩展字段信息
    var contactFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.ContactExpandFields;
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>添加客户_C+企业云平台_打造中国办公软件第一品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <link href="/Themes/default/base/css/globle.css" rel="stylesheet" />
    <style>
        @@charset "utf-8";
        body, div, dl, dt, dd, ul, ol, li, form, input, textarea, select, p, h1, h2, h3, h4, h5, h6 {
            padding: 0;
            margin: 0;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Arial,"宋体";
        }

        img {
            border: none;
        }

        ul, ol {
            list-style: none;
        }

        i, em {
            font-style: normal;
        }

        a, label, button {
            outline: none;
            hide-focus: expression(this.hideFocus=true);
        }

        a {
            color: #685dd6;
            text-decoration: none;
        }

        .tb-form-1 {
            background: #fff;
            border: 1px solid #a4b8d9;
        }

        .tb-form-1 .title {
            height: 30px;
            line-height: 30px;
            font-weight: bold;
            padding-left: 20px;
            background: #ebf1f7;
        }

        .tb-form-1 .body {
            padding: 5px;
        }

        .tb-form {
            width: 100%;
        }

        .tb-form td {
            padding: 5px;
            border-bottom: 1px solid #eee;
        }

        .tb-form td.label {
            width: 100px;
            text-align: right;
        }

        .tb-form td .imp {
            color: #df1f16;
            padding: 0 5px;
        }

        .comm-tbox-1 {
            margin: 0;
            padding: 0 5px;
            width: 110px;
            height: 22px;
            line-height: 22px;
            font-size: 12px;
            border: 1px solid #dbdbdb;
            color: #444;
            float: left;
            display: block;
        }

        .comm-abox-1 {
            margin: 0;
            padding: 0 5px;
            width: 180px;
            height: 50px;
            line-height: 28px;
            font-size: 12px;
            border: 1px solid #dbdbdb;
            color: #444;
        }

        .tb-form-1 .btn-bar {
            text-align: right;
            padding: 30px 0 5px;
        }

        .tb-form-1 .btn-bar .btn-white-1, .tb-form-1 .btn-bar .btn-blue-1 {
            margin-right: 10px;
        }

        .tag-setting {
            border: 1px solid #c3d3e7;
            background: #fff;
        }





        .btn-white-1, .btn-white-1 b, .btn-blue-1, .btn-blue-1 b {
            display: inline-block;
            height: 26px;
            line-height: 26px;
            font-size: 12px;
            white-space: nowrap;
            font-weight: normal;
            vertical-align: top;
            background: url(/Themes/default/base/images/sprites-button_save.png) no-repeat;
            cursor: pointer;
        }

        .btn-white-1 b, .btn-blue-1 b {
            vertical-align: top !important;
        }

        .btn-white-1 {
            color: #333;
            background-position: 0 0;
        }

        .btn-white-1 b {
            padding: 0 5px;
            background-position: right -26px;
        }

        .btn-blue-1 {
            margin: 0 0 0 -1px;
            padding: 0;
            width: 30px;
            height: 22px;
            line-height: 22px;
            border: 1px solid #dbdbdb;
            background: url(/Themes/default/base/images/skin_icons.png) -160px -24px no-repeat #fafafa;
            cursor: pointer;
            text-indent: -9999px;
            display: block;
            float: left;
        }

        .btn-white-1 b {
            padding: 0 5px;
            background-position: right -26px;
        }
      
    </style>

    <script src="/Themes/default/lib/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
     <!--ie css3-->
        <!--[if lt IE 10]>
            <script type="text/javascript" src="/Themes/default/lib/pie/PIE.js"></script>
        <![endif]-->
        <script type="text/javascript">
            $(function () {
                if (window.PIE) {
                    $('.rounded').each(function () {
                        PIE.attach(this);
                    });
                }
            });
        </script>
        <!--使用方法
            -moz-border-radius: 8px; 
            -webkit-border-radius:8px;
            border-radius:8px;
            behavior: url(/Themes/default/lib/pie/pie.htc);/*非常重要*/
            -->
    <!--artDialog-->
     <link rel="stylesheet" href="/Themes/default/lib/artDialog/css/ui-dialog.css">
    <script src="/Themes/default/lib/artDialog/dist/dialog-plus-min.js"></script>  
    <!--my97DatePicker-->
     <script src="/Themes/default/lib/my97DatePicker/WdatePicker.js" type="text/javascript"></script>
  <!--省市数据-->
    <script src="/Themes/default/base/js/city.js" type="text/javascript"></script>
    <!--气泡提示-->
    <script src="/Themes/default/lib/poshytip/jquery.poshytip.min.js" type="text/javascript"></script>
    <link href="/Themes/default/lib/poshytip/tip-yellow/tip-yellow.css" rel="stylesheet"
          type="text/css" />
    <!--表单验证，这里不能用min,否则保存，需要在字段上加上class="required"-->
    <script src="/Themes/default/lib/validate/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/validate/messages_cn.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/validate/jquery.validate.extend.js" type="text/javascript"></script>
    <!--公共函数-->
    <script src="/Themes/default/lib/function.js" type="text/javascript"></script>
    <script src="/Themes/default/crm/js/customer_add.js" type="text/javascript"></script>
  
</head>
<body>
    <div class="tb-form-1">
        <form id="form_customer" name="form_customer" action="" method="post">
            <div class="title">基本属性</div>
            <div class="body">
                <table class="tb-form" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="label">
                                <em class="imp">*</em>客户名称：
                            </td>
                            <td>
                                <input type="text" class="comm-tbox-1 required" id="cus_name" name="cus_name"/>
                                     </td>
                        </tr>
                        <tr>
                            <td class="label">
                                助记简称：
                            </td>
                            <td>
                                <input type="text" class="comm-tbox-1" id="cus_sname" name="cus_sname"  />
                            </td>
                        </tr>
                       @* <tr>
                            <td class="label">
                                上级客户：
                            </td>
                            <td>
                                <input type="text" class="comm-tbox-1" id="cus_lastid" name="cus_lastid" field_required="0"
                                       field_cname="上级客户"
                                       field_ename="cus_lastid" field_type="text" size="40" />
                            </td>
                        </tr>*@
                        <tr>
                            <td class="label">
                                <em class="imp">*</em>办公电话/手机：
                            </td>
                            <td>
                                <input type="text" class="comm-tbox-1 required mobileTelephome" name="cus_tel" id="cus_tel" />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                省份城市：
                            </td>
                            <td>
                                <select id="cus_province" name="cus_province" field_required="0" field_cname="省份">
                                    <option value="0" selected="selected">--请选择--</option>
                                </select>
                           
                                <select id="cus_city" name="cus_city" field_required="0" field_cname="城市">
                                    <option value="0" selected="selected">--请选择--</option>
                                </select>
                                  <select id="cus_region" name="cus_region" field_required="0" field_cname="城市">
                                    <option value="0" selected="selected">--请选择--</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                详细地址：
                            </td>
                            <td>
                                <input type="text" class="comm-tbox-1" id="cus_address" name="cus_address">
                            </td>
                        </tr>
                       @* <tr>
                            <td class="label" style="width: 120px;">
                                共享成员：
                            </td>
                            <td>
                                <input type="text" class="comm-tbox-1" id="con_team" name="con_team" field_required="0"
                                       field_cname="共享成员" field_ename="con_team" field_type="text" size="40">
                            </td>
                        </tr>*@
@*<tr>
        <td class="label" style="width: 120px;">
            是否公海客户：
        </td>
        <td>
            <input type="checkbox" checked="checked" id="con_is_sub" name="con_is_pub" field_required="0"
                   field_cname="是否公海客户" field_ename="con_is_sub" field_type="checkbox" />
        </td>
    </tr>
    <tr>
        <td class="label">
            是否在回收站中：
        </td>
        <td>
            <input type="checkbox" id="con_back" name="con_back" field_required="0"
                   field_cname="是否在回收站中" field_ename="con_back" field_type="checkbox" />
        </td>
    </tr>
*@ 
                        <tr>
                            <td class="label">
                                备注：
                            </td>
                            <td>
                                <textarea class="comm-abox-1" id="cus_note" name="cus_note" cols="50" rows="5"></textarea>
                            </td>
                        </tr>
                        
                        <!--客户扩展字段开始-->
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        @foreach (var field in customerFields)
                        {
                            switch (field.ExpCtype)
                            {
                                    case "1": //短文本框
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td>
                                            <input type="text" name="@field.ExpName" id="@field.ExpName"   class="comm-tbox-1 " />
                                        </td>
                                    </tr>
                                    break;
                                case "2": //长文本框
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td>
                                            <textarea class="comm-abox-1 " id="@field.ExpName" name="@field.ExpName" cols="50" rows="5" ></textarea>
                                        </td>
                                    </tr>
                                    break;
                                case "3": //短文本框(链接)
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td>
                                            <input type="text" id="@field.ExpName" name="@field.ExpName" class=""/>
                                        </td>
                                    </tr>
                                    break;
                                case "4": //短文本框(年龄)
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td>
                                            <input type="text"id="@field.ExpName"   class="comm-tbox-1 " name="@field.ExpName"/>
                                        </td>
                                    </tr>
                                    break;
                                case "5": //下拉框
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td>
                                            <select id="@field.ExpName" name="@field.ExpName" class="">
                                                <option selected="selected" value="">--请选择--</option>
                                                @Html.StringToOptions(field.ExpOption)
                                            </select>
                                        </td>
                                    </tr>
                                    break;
                                case "6": //复选框
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td>
                                            @Html.StringToCheckboxList(field.ExpOption, field.ExpName, field.ExpName, field.ExpTitle, field.ExpIsNull)
                                        </td>
                                    </tr>
                                    break;
                                case "7": //附件上传
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td>
                                            <div class="box">
                                                <input type="text" name="copyFile" class="textbox" />
                                                <a href="javascript:void(0);" class="link">浏览</a>
                                                <input type="file"  class="uploadFile" name="upload" onchange=" getFile(this, 'copyFile') " />
                                            </div>
                                        </td>
                                    </tr>
                                    break;
                                case "8": //时间日期
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td> 
                                            <input type="text" id="@field.ExpName"   name="@field.ExpName" class="Wdate " style="width: 90px;" onclick=" WdatePicker({ dateFmt: 'yyyy-MM-dd' }) "/>
                                        </td>
                                    </tr>
                                    break;
                                case "9": //复选框
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td>
                                            @Html.StringToCheckboxList(field.ExpOption, field.ExpName, field.ExpName, field.ExpTitle, field.ExpIsNull)
                                        </td>
                                    </tr>
                                    break;
                                default:
                                    break;
                            }
                        }
                    </tbody>
                </table>
            </div>
            
            <div class="title">主联系人信息</div>
            <div class="body">
                <table class="tb-form" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="label">  <em class="imp">*</em>联系人名称：</td>
                            <td>
                                <input type="text" name="con_name" id="con_name"   class="comm-tbox-1 required" />
                            </td>
                        </tr>
                    
                        <tr>
                            <td class="label">电话/手机:</td>
                            <td>
                                <input type="text" name="con_tel" id="con_tel"   class="comm-tbox-1 number"/>
                            </td>
                        </tr>
                    
                        <tr>
                            <td class="label">Q&nbsp;&nbsp;Q:</td>
                            <td>
                                <input type="text" name="con_qq" id="con_qq"   class="comm-tbox-1 number"/>
                            </td>
                        </tr>
                    
                        <tr>
                            <td class="label">邮箱：</td>
                            <td>
                                <input type="text" name="con_email" id="con_email"  class="comm-tbox-1 email"/>
                            </td>
                        </tr>
                    
                        <tr>
                            <td class="label">出生年月：</td>
                            <td>
                                <input type="text" name="con_bir" id="con_bir"   class="comm-tbox-1 Wdate dateISO"   onclick=" WdatePicker({ dateFmt: 'yyyy-MM-dd' }) " />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">备注：</td>
                            <td>
                                <textarea class="comm-abox-1" rows="5" cols="50" name="con_note" id="con_note"></textarea>
                            </td>
                        </tr>
 
                        <!--联系人扩展字段开始-->
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        @foreach (var field in contactFields)
                        {
                            switch (field.ExpCtype)
                            {
                                case "2":
                                    <tr>
                                        <td class="label">
                                            @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                            @field.ExpTitle：
                                        </td>
                                        <td>
                                            <textarea class="comm-abox-1 " id="@field.ExpName" name="@field.ExpName" cols="50" rows="5" ></textarea>
                                        </td>
                                    </tr>
                                    break;
                            }
                        } 
                    </tbody>
                </table>
            </div>
            
            <div class="btn-bar">
                <a id="save_button" href="javascript:void(0);" class="btn-white-1" onclick=" save_add() "><b>添加</b></a>

                <a id="cancel_add"  href="javascript:void(0);" class="btn-white-1" onclick=" cancel_add(); "><b>取消</b></a>
            </div>
        </form>
    </div>
    <div class="i10">
    </div>
    <div class="body-tips">
        <div class="body-tips-bd">
            <h3>
                帮助：</h3>
            <p>
                1. 属性不够用？管理员可到"<a href="?controller=field&amp;arg=p10076866_10097878" target="_blank">自定义属性</a>”栏目设置个性化属性；</p>
            <p>
                2. 潜在客户与会员区别？潜在客户指还未成交客户，会员即成交客户。</p>
        </div>
    </div>
</body>