@using UCsoft.Web
@{
    //客户扩展字段信息
    var customerFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.CustomerExpandFields;
    //联系人扩展字段信息
    var contactFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.ContactExpandFields;
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>添加客户_C+企业云平台_打造中国办公软件第一品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <link href="/Themes/default/base/css/globle.css" rel="stylesheet" />
    <script src="/Themes/default/lib/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/bootstrap/js/bootstrap.js"></script>
	<link href="/Themes/default/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
     <!--ie css3-->
        <!--[if lt IE 10]>
            <script type="text/javascript" src="/Themes/default/lib/pie/PIE.js"></script>
        <![endif]-->
        <script type="text/javascript">
            $(function () {
                if (window.PIE) {
                    $('.rounded').each(function () {
                        PIE.attach(this);
                    });
                }
            });
        </script>
        <!--使用方法
            -moz-border-radius: 8px; 
            -webkit-border-radius:8px;
            border-radius:8px;
            behavior: url(/Themes/default/lib/pie/pie.htc);/*非常重要*/
            -->
    <!--artDialog-->
     <link rel="stylesheet" href="/Themes/default/lib/artDialog/css/ui-dialog.css">
    <script src="/Themes/default/lib/artDialog/dist/dialog-plus-min.js"></script>  
    <!--my97DatePicker-->
     <script src="/Themes/default/lib/my97DatePicker/WdatePicker.js" type="text/javascript"></script>
  <!--省市数据-->
    <script src="/Themes/default/base/js/city.js" type="text/javascript"></script>
    <!--气泡提示-->
    <script src="/Themes/default/lib/poshytip/jquery.poshytip.min.js" type="text/javascript"></script>
    <link href="/Themes/default/lib/poshytip/tip-yellow/tip-yellow.css" rel="stylesheet"
          type="text/css" />
    <!--表单验证，这里不能用min,否则保存，需要在字段上加上class="required"-->
    <script src="/Themes/default/lib/validate/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/validate/messages_cn.js" type="text/javascript"></script>
    <script src="/Themes/default/lib/validate/jquery.validate.extend.js" type="text/javascript"></script>
    <!--公共函数-->
    <script src="/Themes/default/lib/function.js" type="text/javascript"></script>
    <script src="/Themes/default/crm/js/customer_add.js" type="text/javascript"></script>
</head>
<body>
    <div class="tb-form-1">
        <form id="form_customer" name="form_customer" action="" method="post">
            <div class="tab-content">
			
			            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#customer-info" data-toggle="tab">客户信息</a>
                </li>
                <li><a href="#contact-info" data-toggle="tab">主联系人信息</a></li>
            </ul>
                <div class="tab-pane active" id="customer-info">
                    <dl>
                        <dt>
                            <em class="imp">*</em>客户名称：
                        </dt>
                        <dd>
                            <input type="text" class="wid260 required" id="cus_name" name="cus_name" placeholder="输入单位名称，如为个人则输入姓名" />
                        </dd>
                        <dt>
                            助记简称：
                        </dt>
                        <dd>
                            <input type="text" class="wid200" id="cus_sname" name="cus_sname" placeholder="客户简称，方便查询" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            省份城市：
                        </dt>
                        <dd>
                            <select id="cus_province" name="cus_province" field_required="0" field_cname="省份">
                                <option value="0" selected="selected">--请选择--</option>
                            </select>

                            <select id="cus_city" name="cus_city" field_required="0" field_cname="城市">
                                <option value="0" selected="selected">--请选择--</option>
                            </select>
                            <select id="cus_region" name="cus_region" field_required="0" field_cname="城市">
                                <option value="0" selected="selected">--请选择--</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <em class="imp">*</em>办公电话1：
                        </dt>
                        <dd>
                            <input type="text" class="wid260 required mobileTelephome" name="cus_tel" id="cus_tel" />
                        </dd>
                        <dt>
                            详细地址：
                        </dt>
                        <dd>
                            <input type="text" class="wid200" id="cus_address" name="cus_address" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            备注：
                        </dt>
                        <dd>
                            <textarea class="wid515" id="cus_note" name="cus_note" cols="50" rows="2"></textarea>
                        </dd>
                    </dl>

                    <!--客户扩展字段开始-->
                    @foreach (var field in customerFields)
                    {
                        switch (field.ExpCtype)
                        {
                            case "1": //短文本框
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dd>
                                        <input type="text" name="@field.ExpName" id="@field.ExpName" class="comm-tbox-1 " />
                                    </dd>
                                </dl>
                                break;
                            case "2": //长文本框
                            <dl>
                                <dt>
                                    @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                    @field.ExpTitle：
                                </dt>
                                <dd>
                                    <textarea class="comm-abox-1 " id="@field.ExpName" name="@field.ExpName" cols="50" rows="5"></textarea>
                                </dd>
                            </dl>
                                break;
                            case "3": //短文本框(链接)
                            <dl>
                                <dt>
                                    @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                    @field.ExpTitle：
                                </dt>
                                <dd>
                                    <input type="text" id="@field.ExpName" name="@field.ExpName" class="" />
                                </dd>
                            </dl>
                                break;
                            case "4": //短文本框(年龄)
                            <dl>
                                <dt>
                                    @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                    @field.ExpTitle：
                                </dt>
                                <dd>
                                    <input type="text" id="@field.ExpName" class="comm-tbox-1 " name="@field.ExpName" />
                                </dd>
                            </dl>
                                break;
                            case "5": //下拉框
                            <dl>
                                <dt>
                                    @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                    @field.ExpTitle：
                                </dt>
                                <dd>
                                    <select id="@field.ExpName" name="@field.ExpName" class="">
                                        <option selected="selected" value="">--请选择--</option>
                                        @Html.StringToOptions(field.ExpOption)
                                    </select>
                                </dd>
                            </dl>
                                break;
                            case "6": //复选框
                            <dl>
                                <dt>
                                    @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                    @field.ExpTitle：
                                </dt>
                                <dd>
                                    @Html.StringToCheckboxList(field.ExpOption, field.ExpName, field.ExpName, field.ExpTitle, field.ExpIsNull)
                                </dd>
                            </dl>
                                break;
                            case "7": //附件上传
                            <dl>
                                <dt>
                                    @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                    @field.ExpTitle：
                                </dt>
                                <dd>
                                    <div class="box">
                                        <input type="text" name="copyFile" class="textbox" />
                                        <a href="javascript:void(0);" class="link">浏览</a>
                                        <input type="file" class="uploadFile" name="upload" onChange=" getFile(this, 'copyFile') " />
                                    </div>
                                </dd>
                            </dl>
                                break;
                            case "8": //时间日期
                            <dl>
                                <dt>
                                    @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                    @field.ExpTitle：
                                </dt>
                                <dd>
                                    <input type="text" id="@field.ExpName" name="@field.ExpName" class="Wdate " style="width: 90px;" onClick=" WdatePicker({ dateFmt: 'yyyy-MM-dd' }) " />
                                </dd>
                            </dl>
                                break;
                            case "9": //复选框
                            <dl>
                                <dt>
                                    @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                    @field.ExpTitle：
                                </dt>
                                <dd>
                                    @Html.StringToCheckboxList(field.ExpOption, field.ExpName, field.ExpName, field.ExpTitle, field.ExpIsNull)
                                </dd>
                            </dl>
                                break;
                            default:
                                break;
                        }
                    }
                </div>
                <div class="tab-pane" id="contact-info">

                    <dl>
                        <dt>  <em class="imp">*</em>联系人名称：</dt>
                        <dd>
                            <input type="text" name="con_name" id="con_name" class="required" />
                        </dd>
                        <dt>电话/手机：</dt>
                        <dd>
                            <input type="text" name="con_tel" id="con_tel" class="number" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>Q&nbsp;&nbsp;Q：</dt>
                        <dd>
                            <input type="text" name="con_qq" id="con_qq" class="number" />
                        </dd>
                        <dt>邮箱：</dt>
                        <dd>
                            <input type="text" name="con_email" id="con_email" class="email" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>出生年月：</dt>
                        <dd>
                            <input type="text" name="con_bir" id="con_bir" class="Wdate dateISO" onClick=" WdatePicker({ dateFmt: 'yyyy-MM-dd' }) " />
                        </dd>
                    </dl>
                    <dl>
                        <dt>备注：</dt>
                        <dd>
                            <textarea class="comm-abox-1" rows="5" cols="50" name="con_note" id="con_note"></textarea>
                        </dd>
                    </dl>

                    <!--联系人扩展字段开始-->
                    @foreach (var field in contactFields)
                    {
                        switch (field.ExpCtype)
                        {
                            case "2":
                                <dl>
                                    <dt>
                                        @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                        @field.ExpTitle：
                                    </dt>
                                    <dt>
                                        <textarea class="comm-abox-1 " id="@field.ExpName" name="@field.ExpName" cols="50" rows="5"></textarea>
                                    </dt>
                                </dl>
                                break;
                        }
                    } 
                </div>
            </div>



            <div class="btn-bar">
                <a id="save_button" href="javascript:void(0);" class="btn-white-1" onClick=" save_add() "><b>添加</b></a>

                <a id="cancel_add"  href="javascript:void(0);" class="btn-white-1" onClick=" cancel_add(); "><b>取消</b></a>
            </div>
        </form>
    </div>
</body>