@using System.Web.Optimization
@using teaCRM.Entity
@using teaCRM.Web.Helpers
@{
    //联系人扩展字段信息
    var contactFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.ContactExpandFields;
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>修改联系人_C+企业云平台_打造中国办公软件第一品牌</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
          @Styles.Render("~/Themes/default/css/cp.globle.min1.css")
@Scripts.Render("~/Themes/default/js/cp.globle.min1.js")


  <!--my97DatePicker-->
     <script src="/Themes/default/lib/my97DatePicker/WdatePicker.js" type="text/javascript"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                $("#con_name").focus();
                var id = "@ViewBag.Id";
                if (id != "") {
                    //console.log("开始修改");
                    load_form_data(id);
                }
            });
            $(function () {
                validate_form();
            });

            function load_form_data(id) {
                //alert(id);
                //提交数据
                var url = "/Apps/CRM/LoadData/GetContact/?con_id=" + id;
                $.ajax({
                    type: "get",
                    cache: false,
                    url: url,
                    data: { id: id },
                    dataType: "json",
                    beforeSend: function () {
                        //showLoading();
                    },
                    complete: function () {
                        //hideLoading();
                    },
                    success: function (result) {
                        //console.log(result);
                        for (var key in result) {
                            //alert(key + " " + result[key]);
                            if ($("#" + key) != undefined) {
                                $("#" + key).val(result[key]);
                            }
                        }
                        //console.log("数据加载成功。");
                    },
                    error: function () {
                        //console.log("数据加载失败。");
                        showMsg("服务器异常！");
                    }
                });
            }


            //表单验证
            function validate_form() {
                $("#form_contact").validate({
                             rules: {
                      con_name: {
                          rangelength: [2, 30]
                      }  
                    }
,
                    invalidHandler: function (e, validator) {
                        var msg = "有 " + validator.numberOfInvalids() + " 项填写有误，请检查！";
                        $("#msgprint").html(msg).show().focus();
                        setTimeout(function () {
                            $("#msgprint").fadeOut(500);
                            //如果动画结束则删除节点
                            if (!$("#msgprint").is(":animated")) {
                                $("#msgprint").hide();
                            }
                        }, 1000);
                    },
                    focusInvalid: false,
                    errorPlacement: function (error, element) {
                        var errorMsg = error[0].innerHTML;
                        var elementName = element[0].name;
                         $("#" + elementName).formtip(errorMsg);
                        $("#" + elementName).attr("placeholder", errorMsg);
                    },
                    success: function (element) {
                        var elem = $(element)[0].htmlFor;
                        $("#" + elem).poshytip('disable');
                        $("#" + elem).poshytip('destroy');
                        $("#" + elem).removeClass("error").addClass("success");
                    }

                });
            }

            //表单验证方法，供父窗口调用
            function form_valid() {
                return $("#form_contact").valid();
            }
        </script>
    </head>
    <body> <form id="form_contact">
               <!--客户id-->
               <input type="hidden" id="cus_id" name="cus_id" value="@ViewBag.CustomerId"/>
                <!--当前公司id-->
               <input type="hidden" id="CompNum" name="CompNum" value="@Session[teaCRMKeys.SESSION_USER_COMPANY_INFO_NUM]" />
               <!--表单错误提示区-->
               <div tabindex="-1" id="msgprint" class="warning" style="position: fixed; width: 90%; display: none;">您的表单包含错误，请检查！</div>
               <div class="tab-content" style="padding: 10px;">
                
                       <dl>
                           <dt>  <em class="imp">*</em>联系人名称 ：</dt>
                           <dd>
                               <input type="text" name="con_name" id="con_name" class="form-control required" />
                           </dd>
                           <dt>电话/手机 ：</dt>
                           <dd>
                               <input type="text" name="con_tel" id="con_tel" class="form-control number" />
                           </dd>
                       </dl>
                       <dl>
                           <dt>Q&nbsp;&nbsp;Q ：</dt>
                           <dd>
                               <input type="text" name="con_qq" id="con_qq" class="form-control number" />
                           </dd>
                           <dt>邮箱 ：</dt>
                           <dd>
                               <input type="text" name="con_email" id="con_email" class="form-control email" />
                           </dd>
                       </dl>
                       <dl>
                           <dt>出生年月 ：</dt>
                           <dd>
                               <input type="text" name="con_bir" id="con_bir" class="form-control Wdate dateISO" onClick=" WdatePicker({ dateFmt: 'yyyy-MM-dd' }) " />
                           </dd>
                       </dl>
                       <dl>
                           <dt>备注 ：</dt>
                           <dd>
                               <textarea class="form-control comm-abox-1" rows="5" cols="50" name="con_note" id="con_note"></textarea>
                           </dd>
                       </dl>

                       <!--联系人扩展字段开始-->
                       @foreach (var field in contactFields)
                       {
                           switch (field.ExpCtype)
                           {
                               case 2:
                                   <dl>
                                       <dt>
                                           @Html.BooleanParse(field.ExpIsNull, "<em class=\"imp\">*</em>", "", "")
                                           @field.ExpTitle
                                       </dt>
                                       <dt>
                                           <textarea class="form-control comm-abox-1 " id="@field.ExpName" name="@field.ExpName" cols="50" rows="5"></textarea>
                                       </dt>
                                   </dl>
                                   break;
                           }
                       } 
                   </div>
               
           </form>
    </body>
</html>