@using System.Web.Optimization
@using teaCRM.Entity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var role = (TSysRole)ViewBag.Role;
}

@model  List<teaCRM.Entity.Settings.ZSysPermission>

@section seo{
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />


    @Styles.Render("~/Themes/default/css/cp.globle.min6.css")
    @Scripts.Render("~/Themes/default/js/cp.globle.min6.js")
}

@section head
{
    <script type="text/javascript">
        $(document).ready(function() {
            //按钮提示
            $('.tip').tooltip();
            //按钮气泡
            $('.pop').popover({ html: true, trigger: "hover" });
            //alert("loaded");     
            //加载当前角色的权限
            var id = "@role.Id";
            load_role_pers(id);
        });
        $(function() {
            //初始化权限数据
            //load_pers();
        });

        //加载当前角色的权限
        function load_role_pers(id) {
            showMsg("准备加载角色id为" + id + "的角色的权限...", "Success");
        }

//        function load_pers() {
//            var compNum = $("#CompNum").val();
//          $.ajax({
//                    type: "get",
//                    cache: false,
//                    url: "/api/settings/role/getAllPermissions",
//                    data: {  compNum: compNum },
//                    dataType: "json",
//                    beforeSend: function() {
//                        //showMsg("添加中，请稍后...");
//                    },
//                    complete: function() {
//                        //showMsg("完成...");
//                    },
//                    success: function(result) {
//                        //alert(result);
//                        var pers = JSON.parse(result);
//                        //console.log(pers);
//                        for (var i = 0; i < pers.length; i++) {
//                            var per = pers[i];
//                            //console.log(per.AppName);
//                        }
//                    },
//                    error: function() {
//                        showMsg("网络连接错误");
//                    }
//                });
//
//           
//        }


        function save_per() {
            showDialog("确认保存权限吗？", function() {
                $.ajax({
                    type: "get",
                    cache: false,
                    url: "/",
                    //data: { ids: ids, compNum: compNum, isClear: true },
                    dataType: "json",
                    beforeSend: function() {
                        //showMsg("添加中，请稍后...");
                    },
                    complete: function() {
                        //showMsg("完成...");
                    },
                    success: function(result) {
                        //toLowerCase报错
                        //var status = result.Status.toLowerCase();
                        var status = result.Status;
                        if (status == true || status == "true" || status == "True") {
                            showMsg("权限保存成功！", "Success");
                            refresh();
                        } else {
                            showMsg("系统异常，权限保存失败！");
                        }

                    },
                    error: function() {
                        showMsg("网络连接错误");
                    }
                });
            });
        }
    </script>
}
<!--当前公司id-->
<input type="hidden" id="CompNum" name="CompNum" value="@Session[teaCRMKeys.SESSION_USER_COMPANY_INFO_NUM]" />
<table>
    <tbody>
        <tr>
            <td>
                <table width="100%">
                    <tbody>
                        <tr>
                               
                            <td style="text-align: right;">
                                <div class="btn-group" style="float: left; padding: 15px;">
                                    <button type="button" class="btn btn-default tip" id="save-per"  onclick=" save_per(); " title="保存权限"  ><span class="glyphicon glyphicon-floppy-disk"></span>保  存</button>
                                    <button type="button" class="btn btn-default tip" id="save-per"  onclick=" refresh('/Apps/Settings/Role/'); " title="返回角色列表"><span class="glyphicon glyphicon-floppy-disk"></span>返回</button>
                                </div>
                             
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td>
                <table id="permissions" class="table table-striped table-bordered ">
                    <thead>
                        <tr>
                            <th colspan="3" class="first">为【@role.RoleName】角色设置权限</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td width="150" style="text-align: left;">
                                <input name="allModule"  type="checkbox">
                                <span class="pop"  data-content="'所有模块'复选框选中后，您可以为所有模块设置统一的权限。" data-toggle="popover" data-original-title="温馨提示">所有模块</span>
                                <input type="hidden" id="allModules_SelectedValue" value="">
                            </td>
                            <td style="text-align: center;" colspan="2">权限列表</td>
                        </tr>
                  
                  
                        <!--应用循环开始-->
                        @foreach (var per in Model)
                        {
                            <tr>
                                <td style="text-align: left;">
                                    <input  type="checkbox" value="true"><input  type="hidden" value="false">  <span class="pop"  data-content='@Html.Raw("设置【" + @per.AppName + "】模块的权限")。' data-toggle="popover" data-original-title="温馨提示">@per.AppName</span>
                                    <input id="module_Create_CRM_Customer_SelectedValue" name="module_Create.CRM.Customer_SelectedValue" type="hidden" value="">
                                </td>
                       
                                <td width="130" style="text-align: left;">
                                    <!--模块循环开始-->
                                    @foreach (var myapp in per.FunMyApp)
                                    {
                                        <div> 
                                            <input id="object_Create_CRM_Customer_Contact" name="object_Create.CRM.Customer_Contact" type="checkbox" value="true"><input name="object_Create.CRM.Customer_Contact" type="hidden" value="false"> @myapp.MyappName
                                        </div>
                                    }
                                    <!--模块循环结束-->
                                </td>
                                <td>
                                  
                                    
                                    
                                      <!--操作循环开始-->
                                     @foreach (var myapp in per.FunMyApp)
                                     {
                                           <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: left;">
                                                   
                                                   
                                                  @foreach (var op in myapp.FunOperating)
                                                  {
                                                   
                                                    <input donnotsetdatasetpermission="False" id="permission_Create_CRM_Customer_Contact_View" name="permission_Create.CRM.Customer_Contact_View" type="checkbox" value="true"><input name="permission_Create.CRM.Customer_Contact_View" type="hidden" value="false">@Html.Raw("&nbsp;"+@op.OpeName+"&nbsp; &nbsp; &nbsp; &nbsp;")
                                                  }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                     }
                                    
                                      <!--操作循环开始-->
                                    

                             
                             
                                </td>

                            </tr>
                        }
                        <!--大模块循环结束-->      

                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
@section script
{}