@using System.Web.Optimization
@using teaCRM.Entity
@using teaCRM.Web.Helpers
@{
    //初始化客户扩展字段
    var customerFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.CustomerExpandFields;
    //初始化联系人扩展字段
    var contactFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.ContactExpandFields;
    //操作
    var customerOps = (List<TFunOperating>) ViewBag.CustomerOperatings;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seo {
    <title>全部客户_C+企业云平台_打造中国办公软件第一品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
}
@section head{
    @Styles.Render("~/Themes/default/css/cp.globle.min3.css")
    @Scripts.Render("~/Themes/default/js/cp.globle.min3.js")
    
    <!--客户模块布局及左侧css-->
    <link href="/Themes/default/CRM/css/crm.layout.css" rel="stylesheet" type="text/css" />
    <!--客户列表css-->
    <link href="/Themes/default/CRM/css/crm.list.css" rel="stylesheet" type="text/css" />
    <!--省市数据-->
    <script src="/Themes/default/base/js/city.js" type="text/javascript"></script>
    <script src="/Themes/default/CRM/js/customer_index.js" type="text/javascript"></script>

}
<!--当前模块id-->
<input type="hidden" id="myappId" name="myappId"  value="@ViewBag.MyappId"/>
<!--当前公司id 布局页面已经定义
    <input type="hidden" id="compNum" name="compNum" value="@ViewBag.CompNum" />
    -->

<div id="customer">
    <!--左侧筛选开始-->
    <div class="layout-left">
        <div class="layout-left-filter">
            <h2>视图&工具
                <a href="javascript:void(0)" id="mselect" onclick=" ckeckAll(); ">复选</a>
                <a href="javascript:void(0)" id="sselect" onclick=" unckeckAll(); " style="display: none;">单选</a>
                <a href="/Apps/Settings/AppMaker/Detail/1" target="_blank">管理</a>
             
            </h2>
            <div id="nav-side" class="nav-side">
                <div class="ns-item">
                    <ul id="filter_tree" class="ztree"></ul>
                </div>
            </div>
        </div>

    </div>
    <!--右侧列表开始-->

    <div class="layout-right">
        <div class="layout-content">
            
            <!--表格工具栏开始-->
            <div id="customer-toolbar" style="display: none;">
                <div id="{{ctx.id}}" class="{{css.header}}">
                    <div class="row"><div class="col-sm-12 actionBar">
                                         <div class="btn-group" style="float: left;">
                                             @foreach (var ops in customerOps)
                                             {
                                                 switch (ops.OpeType)
                                                 {
                                                     case 0: //弹出框
                                                         <button data-toggle="tooltip" class="btn btn-default tip"  onclick="@ops.OpeFunction" title="@ops.OpeName"><span class="@ops.OpeIcon"></span>@ops.OpeName</button>
                                                         break;
                                                     case 1: //提示框
                                                         <button data-toggle="tooltip" class="btn btn-default tip"  onclick="@ops.OpeFunction " title="@ops.OpeName"><span class="@ops.OpeIcon"></span>@ops.OpeName</button>
                                                         break;
                                                     case 2: //链接
                                                         <button data-toggle="tooltip" class="btn btn-default tip"  onclick=" refresh('@ops.OpeFunction'); " title="@ops.OpeName"><span class="@ops.OpeIcon"></span>@ops.OpeName</button>
                                                         break;
                                                 }
                                             }   
       
                                         </div>
                                         <div class="r-list">
                                             <ul class="l-top-list">
                                                 <li style="margin-left: 20px;">当前显示结果：</li>
                                                 <li><a href="#" rel="nofollow" title="意向客户"><strong>意向客户</strong></a></li>
                                                 <li><a href="#" rel="nofollow" title="30天未联系"><strong>集团客户</strong></a></li>
                                             </ul>
                                         </div>
                                         <div style="float: left; margin-left: 20px; padding-top: 10px;">
                                             <a href="javascript:void:(0);" onclick=" high_search(); ">高级搜索</a>  
                                         </div>
                                         <div class="search form-group">
                                            
                                             <div class="input-group">
                                                 <span class="icon glyphicon input-group-addon glyphicon-search"></span> <input type="text" class="search-field form-control" placeholder="输入关键字">
                                                 <span class="icon glyphicon input-group-addon glyphicon-search"></span>
                                             </div>
                                         </div>
                                         <p class="{{css.actions}}"></p>
                                     </div>
                    </div>
                </div>
            </div>
            <!--表格工具栏结束-->
            

            <!--客户列表开始-->
            <table id="grid-customer" class="table table-condensed table-hover table-striped table-bordered" data-selection="true" data-multi-select="true" >
                <thead>
                    <tr>
                        <th data-column-id="RoleOrder" data-header-align="center" data-align="center"  data-order="asc">显示顺序</th>
                        <th data-column-id="RoleName" data-header-align="center" data-align="center"  data-order="desc">角色名称</th>
                        <th data-column-id="RoleType" data-header-align="center" data-align="center"  data-formatter="RoleType" data-order="desc">角色类型</th>
                        <th data-column-id="RoleDesc" data-header-align="center" data-align="center"  data-order="desc">角色描述</th>
                        <th data-column-id="RoleIssys" data-header-align="center" data-align="center"  data-formatter="RoleIsSys" data-sortable="false">是否内置</th>
                        <th data-column-id="Id" data-type="numeric" data-identifier="true" data-formatter="commands" data-sortable="false">操作</th>
                    </tr>
                </thead>
            </table>
            <!--客户列表结束-->
        </div>
    </div>
    <!--右侧列表结束-->

    <div class="clear" style="clear: both;"></div>
</div>



@section script{
    
}