@using System.Web.Optimization
@using teaCRM.Entity
@using teaCRM.Web.Helpers
@{
    //客户扩展字段信息
    var customerFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.CustomerExpandFields;

    //联系人扩展字段信息
    var contactFields = (List<teaCRM.Entity.TFunExpand>) ViewBag.ContactExpandFields;
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>添加客户_C+企业云平台_打造中国办公软件第一品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" conte nt="IE=Edge" />
   
    @Styles.Render("~/Themes/default/css/cp.globle.min1.css")
    @Scripts.Render("~/Themes/default/js/cp.globle.min1.js")

    <!--my97DatePicker-->
    <script src="/Themes/default/lib/my97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <!--省市数据-->
    <script src="/Themes/default/base/js/city.js" type="text/javascript"></script>
    <script src="/Themes/default/crm/js/customer_edit.js" type="text/javascript"></script>
</head>
<body>
    <form id="form_customer" name="form_customer">
        <!--客户id-->
        <input type="hidden" id="CustomerId" name="CustomerId" value="@ViewBag.CustomerId"/>
          <input type="hidden" id="CusNo" name="CusNo" />
        <input type="hidden" id="ConId" name="ConId" />
        <!--当前公司id-->
        <input type="hidden" id="CompNum" name="CompNum" value="@Session[teaCRMKeys.SESSION_USER_COMPANY_INFO_NUM]" />
         <!--当前用户id-->
        <input type="hidden" id="UserId" name="UserId" value="@Session[teaCRMKeys.SESSION_USER_COMPANY_INFO_ID]" />
        <!--表单错误提示区-->
        <div tabindex="-1" id="msgprint" class="warning" style="position: fixed; width: 90%; display: none;">您的表单包含错误，请检查！</div>
        <div class="tab-content">
            <ul class="nav nav-tabs" id="formTab">
                <li class="active"><a href="#customer-info" data-toggle="tab">客户信息</a></li>
                <li><a href="#contact-info" data-toggle="tab">主联系人信息</a></li>
            </ul>
            <div style="height: 20px;"></div>
            <div class="tab-pane active" id="customer-info">
                <div class="container">
                    <div  class="row">
                    
                        <div class="span6">
                         <div class="tit"><em class="imp">*</em>客户名称：</div> <input type="text" id="CusName" name="CusName" class="form-control required" placeholder="输入单位名称，如为个人则输入姓名" /></div>
                        <!--输出扩展字段-->
                        @foreach (var customerField in customerFields)
                        {
                            if (customerField.ExpIsShow == 1)
                            {
                                @Html.GetFormFieldHtmlString(@customerField.ExpCtype, customerField.ExpName, customerField.ExpTitle, customerField.ExpCss, customerField.ExpIsNull, customerField.ExpOption)
                            }
                        }
                         
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="contact-info">
                <div class="container">
                    <div  class="row">
                    <div class="span6">
                         <div class="tit"><em class="imp">*</em>主联系人名称：</div> <input type="text" id="ConName" name="ConName" class="form-control " /></div>
                        <div class="span6">
                            <div class="tit"><em class="imp">*</em>主联系人电话：</div> <input type="text" id="ConTel" name="ConTel" class="form-control " />
                        </div>
                        @foreach (var contactField in contactFields)
                        {
                            if (contactField.ExpIsShow == 1)
                            {
                                @Html.GetFormFieldHtmlString(@contactField.ExpCtype, contactField.ExpName, contactField.ExpTitle, contactField.ExpCss, contactField.ExpIsNull, contactField.ExpOption)
                            }
                        }
                    </div>
            
                </div>
            
            </div>
            

         
        </div>

    </form>

</body>